/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar h2{

    color: white ;
    margin-left: 35% ;
    margin-top: 10px;

}

.reg{

    width:350px ;
    margin-top: 30px;
    margin-left: 150px ;
    display:block;
    text-align: left ;
    border: 2px ;

}

input {

    display: block ;
    width: 100% ;
    padding: 5px ;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing :border-box ;
    box-sizing:border-box ;


}

div.reg fieldset{

    border: black ;

}

div.reg a {

    font-style: normal ;
    float: left ;
    margin-right: 40px ;
    margin-top: 20px ;
    margin-left: 15px ;


}

div.reg a:hover {

    color: black ;


}

.details{

    background-color: #b9b979 ;
    color: black ;
    border-radius: 3px ;
    height: 550px ;
    margin-left: 100px ;

}

.data{

    margin-top: 30px ;
    margin-left:20px ;
}

.active{

    background-color: #f9fcfa ;

}
.container-fluid li:hover{

    background-color: #0c0c0c ;

}

.table th{
    
    margin-left: 40px ;

}


.button {

    width: 70px;
    padding: 5px ;
    color: white;
    font-size: 17px ;
    background-color:#009933;
    border-radius: 5px ;
    margin-top: 10px ;
    margin-left: 25px ;
}


/* Add a gray background color and some padding to the footer */
footer {
    background-color: #b3b3b3;
    padding: 25px;
    font-size: medium;
}


.foot1{

    border-right: 2px solid grey ;
    height: 110px ;
}

.foot2{

    margin-left: 30px ; 
}

.foot3{

    margin-left: 50px;
    margin-bottom: 25px ;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

.item{
    height: 650px;
}

.item active{
    height: 650px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}





/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar h2{

    color: black ;
    margin-left: 35% ;
    margin-top: 10px;

}

.login {

    width:350px ;
    margin-top: 30px;
    margin-left: 150px ;
    display:block;
    text-align: left ;
    border: 2px ;

}

input {

    display: block ;
    width: 100% ;
    padding: 5px ;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing :border-box ;
    box-sizing:border-box ;


}

div.login fieldset{

    border: black ;

}

.button {

    width: 150px;
    padding: 5px ;
    color: white;
    font-size: 17px ;
    background-color:#009933;
    border-radius: 5px ;
    margin-top: 10px ;
}


div.login a {

    font-style: normal ;
    float: left ;
    margin-right: 40px ;
    margin-top: 20px ;


}

div.login a:hover {

    color: black ;


}

.details{

    background-color: #ecc6d8 ;
    color: black ;
    border-radius: 3px ;
    height: 230px ;


}

.data{

    margin-top: 30px ;
    margin-left: 20px ;
}

/* Add a gray background color and some padding to the footer */
.container-fluid li{

    border-right: 1px solid #bbb;
    float:left ;
    color: white;


}

.container-fluid li:last-child {
    border-right: none;
}

.active{

    background-color: #fbfffd ;

}

.container-fluid li:hover{

    background-color: #f4f8f5 ;

}

.carousel-indicators {

  text-align: center;

}

.row a:hover{

    color: #ecf3ec ;
    text-decoration: none ;
}

footer {
    background-color: #b3b3b3;
    padding: 25px;
}


.foot1{

    border-right: 2px solid grey ;
    height: 110px ;
}

.foot2{

    margin-left: 30px ; 
}

.foot3{

    margin-left: 50px;
    margin-bottom: 25px ;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

.item{
    height: 650px;
}

.item active{
    height: 650px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}






