/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar h2{

    color: white ;
    margin-left: 35% ;
    margin-top: 10px;

}

.reg{

    width:350px ;
    margin-top: 30px;
    margin-left: 150px ;
    display:block;
    text-align: left ;
    border: 2px ;

}

input {

    display: block ;
    width: 100% ;
    padding: 5px ;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing :border-box ;
    box-sizing:border-box ;


}

div.reg fieldset{

    border: black ;

}

div.reg a {

    font-style: normal ;
    float: left ;
    margin-right: 40px ;
    margin-top: 20px ;
    margin-left: 15px ;


}

div.reg a:hover {

    color: black ;


}

.details{

    background-color: #b9b979 ;
    color: black ;
    border-radius: 3px ;
    height: 550px ;
    margin-left: 100px ;

}

.data{

    margin-top: 30px ;
    margin-left:20px ;
}

.active{

    background-color: #f9fcfa ;

}
.container-fluid li:hover{

    background-color: #0c0c0c ;

}

.table th{
    
    margin-left: 40px ;

}


.button {

    width: 70px;
    padding: 5px ;
    color: white;
    font-size: 17px ;
    background-color:#ff4d4d;
    border-radius: 5px ;
    margin-top: 10px ;
    margin-left: 25px ;
}

.button:hover{

    background-color: #732626 ;
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: gray;
    padding: 25px;
    font-size: medium;
}


.foot1{

    border-right: 2px solid rgb(32, 11, 66) ;
    height: 110px ;
    
}

.foot2{

    margin-left: 30px ; 
}

.foot3{

    margin-left: 50px;
    margin-bottom: 25px ;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

.item{
    height: 650px;
}

.item active{
    height: 650px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}